img{
    
    object-fit: cover;
    width: 30%;
    height: 300px;
    margin: 1.66%;
    float: left;
    overflow: hidden;
}
ul{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background:rgb(30, 41, 47)
   

}
li{
    
    float: right;
    border-left : 2px solid rgba(0, 0, 0, 0.247);
    border-right:2px soild #fff;
    border-radius: 14px;
   
}


li a{
    
    display: block;
    color: rgba(255, 255, 255, 0.945);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 14px;
}

li a:hover{
    background: rgba(1, 188, 245, 0.753);
    color: rgb(0, 0, 0);
}
